/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2017, 2:48:53 PM
    Author     : TajnaSluzba
*/

.ui-datepicker {
    width: inherit;
    padding: .2em .2em 0;
}

.ui-steps .ui-steps-item {
    width: 20%;
    font-size: 16px;
} 