<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title></title>
        <link href="styles/style.css" type="text/css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <div class="ui-g">
            <div class="ui-g-12" style="text-align: center">
                Header
                <ui:insert name="header" />
            </div>
            <div class="ui-g-12 ui-md-2">
                Kalendar sa strane
                <p:calendar mode="inline" >
                    <p:ajax event="click" listener="#{calendarSearchController.onClick()}" />
                </p:calendar>
                <ui:insert name="leftSideBar" />
            </div>
            <div class="ui-g-12 ui-md-10 ui-g-nopad">
                <div class="ui-g-12" style="text-align: center">
                    Naslov
                    <ui:insert name="contentTitle" />
                </div>
                <div class="ui-g-12 ui-g-nopad">
                    Content
                    <ui:insert name="content" />
                </div>
            </div>
            <div class="ui-g-12" style="text-align: center">
                Mihailo Petric 13/681 - ETF 2017
                <ui:insert name="footer" />
            </div>
        </div>  
    </h:body>
</html>
