<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Dodaj festival</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <ui:composition template="/templates/template.xhtml">
            <ui:define name="content">
                <h:form>
                    <p:panel id="mainStepPanel" style="width: 100%; margin: auto;">
                        <p:steps activeIndex="#{festivalCreateController.stepActiveIndex}" >
                            <p:menuitem value="Festival" />
                            <p:menuitem value="Festival" />
                            <p:menuitem value="Izvođači" />
                            <p:menuitem value="Karte" />
                            <p:menuitem value="Multimedia" />
                        </p:steps>
                        <p:panel rendered="#{festivalCreateController.stepActiveIndex == 0}">
                            <br/>
                            <h:outputText value="Izabeni festival, ili dodaj novi" />
                            <br/>
                            <p:selectOneMenu id="festivalNameSelectOneMenu" value="#{festivalCreateController.festivalId}" >
                                <f:selectItems var="festivalName" value="#{festivalCreateController.festivalNames}" itemValue="#{festivalName.id}" itemLabel="#{festivalName.name}" />
                            </p:selectOneMenu>
                            <br/>
                            <hr/>
                            <br/>
                            <h:outputText value="Dodaj novi festival" /> <p:messages autoUpdate="true" closable="true" showDetail="true" />
                            <br/>
                            <p:panelGrid columns="2" >
                                <h:outputText value="Ime festivala: "/>
                                <h:inputText value="#{festivalCreateController.newFestivalName.name}" />
                                <h:outputText value="Link do facebook grupe: "/>
                                <h:inputText value="#{festivalCreateController.newFestivalName.fbLink}" />
                                <h:outputText value="Link to twitter naloga: "/>
                                <h:inputText value="#{festivalCreateController.newFestivalName.twitterLink}" />
                                <h:outputText value="Link do instagram naloga: "/>
                                <h:inputText value="#{festivalCreateController.newFestivalName.instagramLink}" />
                                <h:outputText value="Link do youtube kanala: "/>
                                <h:inputText value="#{festivalCreateController.newFestivalName.youtubeLink}" />
                                <p:commandButton value="Dodaj novi festival" action="#{festivalCreateController.addNewFestivalName()}" update="festivalNameSelectOneMenu" />
                            </p:panelGrid>
                        </p:panel>
                        <p:panel rendered="#{festivalCreateController.stepActiveIndex == 1}">
                            <h:outputText value="Upisi osnovne informacije o festivalu" />
                            <br/>
                            <p:messages autoUpdate="true" closable="true" showDetail="false" />
                            <p:panelGrid columns="2" >
                                <h:outputText value="Ime festivala: "/>
                                <h:outputText value="#{festivalCreateController.festivalName}" />
                                <h:outputText value="Mesto održavanja festivala: "/>
                                <p:inputText value="#{festivalCreateController.newFestival.place}" required="true" requiredMessage="Unesite mesto festivala" />
                                <h:outputText value="Datum početka: "/>
                                <p:calendar value="#{festivalCreateController.newFestival.dateFrom}" showOn="button" pattern="dd-MMM-yyyy" required="true" requiredMessage="Datum početka nije dobar" />
                                <h:outputText value="Datum kraja: "/>
                                <p:calendar value="#{festivalCreateController.newFestival.dateTo}" showOn="button" pattern="dd-MMM-yyyy" required="true" requiredMessage="Datum kraja nije dobar" />
                            </p:panelGrid>
                        </p:panel>
                        <p:panel rendered="#{festivalCreateController.stepActiveIndex == 2}">
                            <h:outputText value="Upisi informacije o izvođačima" />
                            <br/>
                            <p:messages autoUpdate="true" closable="true" showDetail="true" />
                            <h:outputText value="Broj dana festivala: "/>
                            <h:outputText value="#{festivalCreateController.festivalDays}" />

                            <p:accordionPanel var="festivalDayEvents" multiple="true" value="#{festivalCreateController.festivalEventAdapters.keySet().toArray()}">
                                <p:tab title="Dan #{festivalDayEvents + 1}.">
                                    <p:dataTable id="myDay" var="festivalSingleDayEvent" value="#{festivalCreateController.festivalEventAdapters.get(festivalDayEvents)}" binding="#{table}">
                                        <p:column headerText="Ime izvođača">
                                            <h:outputText value="#{festivalSingleDayEvent.festivalEvent.performerName}" rendered="#{!festivalSingleDayEvent.isEditable}" />
                                            <p:inputText value="#{festivalSingleDayEvent.festivalEvent.performerName}" rendered="#{festivalSingleDayEvent.isEditable}" required="true" requiredMessage="Unesite ime izvođača" />
                                        </p:column>
                                        <p:column headerText="Datum početka">
                                            <h:outputText value="#{festivalSingleDayEvent.festivalEvent.dateFrom}" rendered="#{!festivalSingleDayEvent.isEditable}" />
                                            <p:calendar value="#{festivalSingleDayEvent.festivalEvent.dateFrom}" showOn="button" pattern="dd-MMM-yyyy HH:mm:ss" rendered="#{festivalSingleDayEvent.isEditable}" required="true" requiredMessage="Unesite vreme početka nastupa" />
                                        </p:column>
                                        <p:column headerText="Datum kraja">
                                            <h:outputText value="#{festivalSingleDayEvent.festivalEvent.dateTo}" rendered="#{!festivalSingleDayEvent.isEditable}" />
                                            <p:calendar value="#{festivalSingleDayEvent.festivalEvent.dateTo}" showOn="button" pattern="dd-MMM-yyyy HH:mm:ss" rendered="#{festivalSingleDayEvent.isEditable}" required="true" requiredMessage="Unesite vreme kraja nastupa" />
                                        </p:column>
                                        <p:column headerText="Opis">
                                            <h:outputText value="#{festivalSingleDayEvent.festivalEvent.description}" rendered="#{!festivalSingleDayEvent.isEditable}" />
                                            <p:inputTextarea value="#{festivalSingleDayEvent.festivalEvent.description}" rendered="#{festivalSingleDayEvent.isEditable}" required="true" requiredMessage="Unesite opis nastupa" />
                                        </p:column>
                                        <p:column>
                                            <p:commandButton value="Izmeni" rendered="#{!festivalSingleDayEvent.isEditable}" action="#{festivalCreateController.onEdit(festivalDayEvents, table.rowIndex)}" update="myDay"/>
                                            <p:commandButton value="Sačuvaj" rendered="#{festivalSingleDayEvent.isEditable}" action="#{festivalCreateController.onSave(festivalDayEvents, table.rowIndex)}" update="myDay"/>
                                            <p:commandButton value="Izbriši" action="#{festivalCreateController.onDelete(festivalDayEvents, table.rowIndex)}" update="myDay" immediate="true" />
                                        </p:column>
                                    </p:dataTable>
                                    <p:commandButton value="Dodaj novog izvodjaca" action="#{festivalCreateController.addNewFestivalEvent(festivalDayEvents)}" update="myDay"/>
                                </p:tab>
                            </p:accordionPanel>
                        </p:panel>
                        <p:panel rendered="#{festivalCreateController.stepActiveIndex == 3}" >
                            <p:messages autoUpdate="true" closable="true" showDetail="true" />
                            <br/>
                            <h:outputText value="Cena ulaznica za sve dane: " />
                            <br/>
                            <p:inputText value="#{festivalCreateController.allDaysTicket.price}" required="true" requiredMessage="Unesite cenu ulaznice za sve dane" >
                                <f:convertNumber maxFractionDigits="2" />
                            </p:inputText>
                            <p:dataTable var="ticket" value="#{festivalCreateController.tickets}" >
                                <p:column headerText="Dan">
                                    <h:outputText value="#{ticket.day}"/>
                                </p:column>
                                <p:column headerText="Cena">
                                    <p:inputText value="#{ticket.price}" required="true" requiredMessage="Unesite cenu karte za #{ticket.day}. dan" >
                                        <f:convertNumber maxFractionDigits="2"/>
                                    </p:inputText>
                                </p:column>
                                <p:column headerText="Broj karata">
                                    <p:inputText value="#{ticket.available}" required="true" requiredMessage="Unesite broj karata za #{ticket.day}. dan" />
                                </p:column>
                            </p:dataTable>
                        </p:panel>
                        <p:panel rendered="#{festivalCreateController.stepActiveIndex == 4}">
                            <h:form enctype="multipart/form-data">
                                <p:fileUpload fileUploadListener="#{festivalCreateController.handleFileUpload}" />
                            </h:form>
                        </p:panel>
                        <br/>
                        <br/>
                        <br/>
                        <p:commandButton value="Nazad" action="#{festivalCreateController.back()}" rendered="#{festivalCreateController.stepActiveIndex &gt; 0}" update="mainStepPanel" immediate="true" />
                        <p:commandButton value="Sledeće" action="#{festivalCreateController.next()}" rendered="#{festivalCreateController.stepActiveIndex &lt; 4}" update="mainStepPanel" />
                        <p:commandButton value="Završi" action="#{festivalCreateController.finish()}" rendered="#{festivalCreateController.stepActiveIndex == 4}" update="mainStepPanel" />
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
