<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <ui:composition template="/templates/template.xhtml">
            <ui:define name="content">


                <h:form>
                    <p:outputPanel rendered="#{userController.user != null &amp;&amp; userController.user.userType == 'ADMIN'}">
                        <br/>
                        <p:messages id="msg" closable="true" autoUpdate="true" showDetail="true" />
                        <br/>
                        <p:panelGrid columns="2">
                            <h:outputText value="Nesto"/>
                            <h:outputText value="Sto"/>
                            <h:outputText value="Vidi"/>
                            <h:outputText value="Ulogovan"/>
                            <p:commandButton value="Logout" action="#{loginController.logout()}" />
                        </p:panelGrid>
                        <br/>
                        <h:outputText value="5 najposećenijih festivala" />
                        <br/>
                        <p:dataTable var="festival" value="#{adminViewController.topFiveVisitedFestivals}" >
                            <p:column headerText="Festival" >
                                <p:link outcome="festival" value="#{festival.festivalName.name}" >
                                    <f:param name="id" value="#{festival.id}" />
                                </p:link>
                            </p:column>
                            <p:column headerText="Broj poseta" >
                                <h:outputText value="#{festival.numberOfVisits}" />
                            </p:column>
                        </p:dataTable>
                        <br/>
                        <h:outputText value="Najviše kupljeno ulaznica" />
                        <br/>
                        <p:dataTable var="adapter" value="#{adminViewController.topFiveSellingFestivals}" >
                            <p:column headerText="Festival" >
                                <p:link outcome="festival" value="#{adapter.festivalName.name}" >
                                    <f:param name="id" value="#{adapter.id}" />
                                </p:link>
                            </p:column>
                            <p:column headerText="Broj prodatih karata" >
                                <h:outputText value="#{adapter.totalTickets}" />
                            </p:column>
                        </p:dataTable>
                        <p:link outcome="reservations" value="Odobri nove rezervacije" />
                        <br/>
                        <p:commandLink action="#{adminViewController.showLastTenUsers()}" value="Pokazi poslednjih 10 korisnika" update="lastTenUsers"/>
                        <br/>
                        <p:commandLink value="Odobri nove slike" action="#{adminViewController.approveAllNewMedia()}" update="msg" />
                        <br/>
                        <p:link outcome="uploadFestival" value="Učitaj festival iz fajla"/>
                        <br/>
                        <br/>
                        <br/>
                        <p:commandButton value="Dodaj festival" action="addFestival" />
                        <p:outputPanel id="lastTenUsers" >
                            <h:outputText value="Poslednjih 10 registrovanih korisnika" rendered="#{adminViewController.showLastTen}" />
                            <p:dataTable var="user" value="#{adminViewController.lastTenRegistratedUsers}" rendered="#{adminViewController.showLastTen}" >
                                <p:column headerText="Korisnicko ime">
                                    <h:outputText value="#{user.username}" />
                                </p:column>
                                <p:column headerText="Datum pristupa">
                                    <h:outputText value="#{user.dateCreated}" >
                                        <f:convertDateTime pattern="dd-MMM-yyyy HH:mm:ss" timeZone="GMT+1" />
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </p:outputPanel>
                    </p:outputPanel>
                </h:form>
                <p:outputPanel rendered="#{userController.user == null}" style="text-align: center">
                    404 - maybe next time.
                </p:outputPanel>  
            </ui:define>
        </ui:composition>
    </h:body>
</html>
