<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Ostavite komentar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewParam name="id" value="#{commentCreateController.festivalId}" />
            <f:viewAction action="#{commentCreateController.setup()}" />
        </f:metadata>
        <p:outputPanel rendered="#{commentCreateController.commendable}">
            <h:form enctype="multipart/form-data">
                <h:outputText value="Upisi komentar"/>
                <br/>
                <p:inputTextarea value="#{commentCreateController.comment.comment}" />
                <br/>
                <h:outputText value="Daj ocenu"/>
                <br/>
                <p:selectOneMenu value="#{commentCreateController.rating.rating}" >
                    <c:forEach var="iter" step="1" begin="1" end="10" >
                        <f:selectItem itemLabel="#{iter}" itemValue="#{iter}" />
                    </c:forEach>
                </p:selectOneMenu>
                <br/>
                <h:outputText value="Dodaj sliku ili video"/>

                <p:fileUpload fileUploadListener="#{commentCreateController.handleFileUpload}" />

                <br/>
                <p:commandButton value="Sačuvaj" action="#{commentCreateController.save()}" />
            </h:form>
        </p:outputPanel>
        <p:outputPanel rendered="#{!commentCreateController.commendable}">
            <h:outputText value="404 - maybe next time" />
        </p:outputPanel>
    </h:body>
</html>
