<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Izmeni festival - #{festivalEditController.festival.festivalName.name}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewParam name="id" value="#{festivalEditController.festivalId}" />
            <f:viewAction action="#{festivalEditController.setup()}" />
        </f:metadata>
        <h:form>
            <p:outputPanel rendered="#{userController.user != null &amp;&amp; userController.user.userType == 'ADMIN'}">
                <p:outputPanel id="editPanel" >
                    <p:panel rendered="#{!festivalEditController.showMessage}">
                        <p:messages autoUpdate="true" closable="true" showDetail="true" />
                        <h:outputText value="Promeni izvođače" />
                        <br/>
                        <p:dataTable id="myDay" var="festivalSingleDayEvent" value="#{festivalEditController.festivalEventAdapters}">
                            <p:column headerText="Ime izvođača">
                                <h:outputText value="#{festivalSingleDayEvent.festivalEvent.performerName}" rendered="#{!festivalSingleDayEvent.isEditable}" />
                                <p:inputText value="#{festivalSingleDayEvent.festivalEvent.performerName}" rendered="#{festivalSingleDayEvent.isEditable}" required="false" requiredMessage="Unesite ime izvođača" />
                            </p:column>
                            <p:column headerText="Dan" style="width: 5%">
                                <h:outputText value="#{festivalSingleDayEvent.festivalEvent.day}" rendered="#{!festivalSingleDayEvent.isEditable}" />
                                <p:inputText style="width: 50%" value="#{festivalSingleDayEvent.festivalEvent.day}" rendered="#{festivalSingleDayEvent.isEditable}" required="false" requiredMessage="Unesite dan nastupa" />
                            </p:column>
                            <p:column headerText="Datum početka">
                                <h:outputText value="#{festivalSingleDayEvent.festivalEvent.dateFrom}" rendered="#{!festivalSingleDayEvent.isEditable}" />
                                <p:calendar value="#{festivalSingleDayEvent.festivalEvent.dateFrom}" showOn="button" pattern="dd-MMM-yyyy HH:mm:ss" rendered="#{festivalSingleDayEvent.isEditable}" required="false" requiredMessage="Unesite vreme početka nastupa" />
                            </p:column>
                            <p:column headerText="Datum kraja">
                                <h:outputText value="#{festivalSingleDayEvent.festivalEvent.dateTo}" rendered="#{!festivalSingleDayEvent.isEditable}" />
                                <p:calendar value="#{festivalSingleDayEvent.festivalEvent.dateTo}" showOn="button" pattern="dd-MMM-yyyy HH:mm:ss" rendered="#{festivalSingleDayEvent.isEditable}" required="false" requiredMessage="Unesite vreme kraja nastupa" />
                            </p:column>
                            <p:column headerText="Opis">
                                <h:outputText value="#{festivalSingleDayEvent.festivalEvent.description}" rendered="#{!festivalSingleDayEvent.isEditable}" />
                                <p:inputTextarea value="#{festivalSingleDayEvent.festivalEvent.description}" rendered="#{festivalSingleDayEvent.isEditable}" required="true" requiredMessage="Unesite opis nastupa" />
                            </p:column>
                            <p:column>
                                <p:commandButton value="Izmeni" rendered="#{!festivalSingleDayEvent.isEditable}" action="#{festivalEditController.onEdit(festivalSingleDayEvent)}" update="myDay"/>
                                <p:commandButton value="Sačuvaj" rendered="#{festivalSingleDayEvent.isEditable}" action="#{festivalEditController.onSave(festivalSingleDayEvent)}" update="myDay"/>
                                <p:commandButton value="Izbriši" action="#{festivalEditController.onDelete(festivalSingleDayEvent)}" update="myDay" immediate="true" />
                            </p:column>
                        </p:dataTable>
                        <br/>
                        <p:commandButton value="Dodaj izvođača" action="#{festivalEditController.addPerformer()}" update="myDay" />
                        <br/>
                        <br/>
                        <p:commandButton value="Otkaži festival" action="#{festivalEditController.cancelFestival()}" update="messagePanel editPanel" />
                        <p:commandButton value="Potvrdi izmene" action="#{festivalEditController.addMessage()}" update="messagePanel editPanel" />
                    </p:panel>
                </p:outputPanel>
                <p:outputPanel id="messagePanel" >
                    <p:panel rendered="#{festivalEditController.showMessage}">
                        <h:outputText value="Unesite poruku za korisnike" />
                        <br/>
                        <p:inputTextarea value="#{festivalEditController.message.message}" />
                        <br/>
                        <p:commandButton action="#{festivalEditController.confirm()}" value="Potvrdi" />
                    </p:panel>
                </p:outputPanel>
            </p:outputPanel>
        </h:form>
        <p:outputPanel rendered="#{userController.user == null}">
            404 - maybe next time.
        </p:outputPanel>
    </h:body>
</html>
