<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
    ]>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:p="http://primefaces.org/ui"
          xmlns:h="http://xmlns.jcp.org/jsf/html"
          xmlns:f="http://xmlns.jcp.org/jsf/core"
          xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
        <h:head>
            <title><h:outputText value="#{festivalViewController.festival.festivalName.name}" /></title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </h:head>
        <h:body>
            <f:metadata>
                <f:viewParam name="id" value="#{festivalViewController.festivalId}" />
                <f:viewAction action="#{festivalViewController.search()}" />
            </f:metadata>
            <ui:composition template="/templates/template.xhtml">
                <ui:define name="content">

                    <h:form>
                        <p:panel rendered="#{userController.user != null}" >
                            <p:button value="Ostavi komentar" outcome="comment" rendered="#{userController.user.userType == 'USER' and festivalViewController.commentable}" >
                                <f:param name="id" value="#{festivalViewController.festival.id}" />
                            </p:button>
                            <br/>
                            <h:outputText value="Festival #{festivalViewController.festival.festivalName.name}"/>
                            <br/>
                            <h:outputText value="Broj poseta stranici: #{festivalViewController.festival.numberOfVisits}" />
                            <br/>
                            <br/>
                            <h:outputText value="Ocena: #{festivalViewController.avgRating} / 10" >
                                <f:convertNumber type="number" maxFractionDigits="2" />
                            </h:outputText>
                            <br/>
                            <br/>
                            <h:outputText value="Mesto: #{festivalViewController.festival.place}" />
                            <br/>
                            <h:outputText value="Datum: " />
                            <h:outputText value="#{festivalViewController.festival.dateFrom}" >
                                <f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+1" />
                            </h:outputText>
                            <h:outputText value=" - " />
                            <h:outputText value="#{festivalViewController.festival.dateTo}" >
                                <f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+1" />
                            </h:outputText>
                            <br/>
                            <br/>
                            <h:outputText value="O festivalu: #{festivalViewController.festival.description}" />
                            <br/>
                            <h:outputText value="Program festivala" />
                            <br/>
                            <p:dataList var="day" value="#{festivalViewController.eventsPerDay.keySet().toArray()}" style="width: 40%" >
                                <h:outputText value="#{day}. Dan - " />
                                <h:outputText value="#{festivalViewController.datePerDay[day - 1]}" >
                                    <f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+1"/>
                                </h:outputText>
                                <p:dataTable var="event" value="#{festivalViewController.eventsPerDay.get(day)}" style="width: 40%;margin: auto" >
                                    <p:column headerText="Izvođač">
                                        <h:outputText value="#{event.performerName}" />
                                    </p:column>
                                    <p:column headerText="Početak nastupa">
                                        <h:outputText value="#{event.dateFrom}" >
                                            <f:convertDateTime pattern="HH:mm" timeZone="GMT+1" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Kraj nastupa">
                                        <h:outputText value="#{event.dateTo}" >
                                            <f:convertDateTime pattern="HH:mm" timeZone="GMT+1" />
                                        </h:outputText>
                                    </p:column>
                                </p:dataTable>
                            </p:dataList>
                            <p:dataTable var="ticket" value="#{festivalViewController.festival.tickets}" style="width: 40%;margin: auto" >
                                <p:column headerText="Dan">
                                    <h:outputText value="#{ticket.day}." rendered="#{ticket.day != 0}" />
                                    <h:outputText value="Za sve dane" rendered="#{ticket.day == 0}" />
                                </p:column>
                                <p:column headerText="Preostalo karata">
                                    <h:outputText value="#{ticket.available}"/>
                                </p:column>
                                <p:column headerText="Max po nalogu">
                                    <h:outputText value="#{ticket.perPerson}"/>
                                </p:column>
                                <p:column headerText="Cena">
                                    <h:outputText value="#{ticket.price}">
                                        <f:convertNumber type="number" maxFractionDigits="2" />
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                            <p:galleria var="media" value="#{festivalViewController.mediaList}" panelWidth="720" panelHeight="405" showCaption="false" >
                                <p:graphicImage value="#{media.mediaLink}" width="720" height="405" rendered="#{!media.isVideo}"/>
                                <ui:fragment rendered="#{media.isVideo}" >
                                    <video width="720" controls="controls">
                                        <source src="#{media.mediaLink}" type="video/mp4" />
                                    </video>
                                    <br/>
                                </ui:fragment>
                            </p:galleria>
                            <p:dataList var="comment" value="#{festivalViewController.festival.comments}" >
                                <h:outputText value="Korisnik: #{comment.user.username}"/>
                                <h:outputText value="#{comment.comment}"/>
                            </p:dataList>
                            <p:outputPanel rendered="#{festivalViewController.socialNetworksAvailable}">
                                <h:outputText value="Potražite nas na socijalnim mrežama: "/>
                                &nbsp;&nbsp;
                                <h:outputLink value="#{festivalViewController.festival.festivalName.fbLink}" rendered="#{festivalViewController.socialNetwork[0]}" ><img src="media/social_networks/fb.png" width="36" height="36" /></h:outputLink>
                                &nbsp;&nbsp;
                                <h:outputLink value="#{festivalViewController.festival.festivalName.twitterLink}" rendered="#{festivalViewController.socialNetwork[1]}" ><img src="media/social_networks/twitter.png" width="36" height="36" /></h:outputLink>
                                &nbsp;&nbsp;
                                <h:outputLink value="#{festivalViewController.festival.festivalName.instagramLink}" rendered="#{festivalViewController.socialNetwork[2]}" ><img src="media/social_networks/instagram.png" width="36" height="36" /></h:outputLink>
                                &nbsp;&nbsp;
                                <h:outputLink value="#{festivalViewController.festival.festivalName.youtubeLink}" rendered="#{festivalViewController.socialNetwork[3]}" ><img src="media/social_networks/youtube.png" width="36" height="36" /></h:outputLink>
                            </p:outputPanel>
                            <p:button outcome="edit" value="Izmeni" rendered="#{userController.user != null and userController.user.userType == 'ADMIN'}">
                                <f:param name="id" value="#{festivalViewController.festivalId}" />
                            </p:button>
                            <p:button outcome="reserve" value="Rezerviši kartu" rendered="#{userController.user != null and !userController.user.isBloced}">
                                <f:param name="id" value="#{festivalViewController.festivalId}" />
                            </p:button>
                        </p:panel>
                    </h:form>
                </ui:define>
            </ui:composition>
        </h:body>
    </html>
