<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/template.xhtml">
            <ui:define name="content">

                <h:form>
                    <p:panel id="loginPanel">
                        <p:panel rendered="#{userController.user == null}">
                            <p:messages showDetail="true" closable="true" autoUpdate="true" />
                            <p:inputText value="#{loginController.username}" /><br/>
                            <p:password value="#{loginController.password}" /><br/>
                            <p:commandButton id="login" value="Login" action="#{loginController.login()}" /><br/>
                            <p:button value="Registacija" outcome="register" />
                        </p:panel>
                        <p:panel  rendered="#{userController.user != null}" >
                            <h:outputText value="#{userController.user.username}" /><br/>
                            <p:commandButton value="Logout" action="#{loginController.logout()}" update="loginPanel" />
                            <p:commandButton value="Admin dash" action="admin" />
                            <video width="400" controls="controls" >
                                <source src="media/videos/html5_video.mp4" type="video/mp4"  />
                            </video>
                        </p:panel>
                        <br/>
                        <br/>
                        <p:commandButton value="Pretraži festivale" action="search" />
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

