<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Registracija</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>
            <p:messages showDetail="true" autoUpdate="true" closable="true" />
            <p:panelGrid columns="2">
                <h:outputText value="Ime" />
                <p:inputText value="#{registrationController.firstname}" />
                <h:outputText value="Prezime" />
                <p:inputText value="#{registrationController.lastname}" />
                <h:outputText value="Korisnicko ime" />
                <p:inputText value="#{registrationController.username}" />
                <h:outputText value="Sifra" />
                <h:inputSecret value="#{registrationController.password}" >
                    <f:validateRegex pattern ="^(?=(.*[a-z]){3,})(?=(.*[A-Z]){1,})(?=(.*[0-9!@#$%^&amp;*()_+\-=\[\]{};&apos;:&quot;\\|,.&lt;&gt;\/?]){1,})(?!.*(.)\4\4)[a-zA-z].{5,11}$" />
                </h:inputSecret>
                <h:outputText value="telefon" />
                <p:inputText value="#{registrationController.phone}" />
                <h:outputText value="email" />
                <p:inputText value="#{registrationController.email}" />
                <p:commandButton value="Napravi" action="#{registrationController.register()}"/>
            </p:panelGrid>
        </h:form>
    </h:body>
</html>
