<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Rezervacija - #{reservationController.festival.festivalName.name}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewParam name="id" value="#{reservationController.festivalId}" />
            <f:viewAction action="#{reservationController.loadFestival()}" />
        </f:metadata>
        <h:form>
            <p:outputPanel id="reservationPanel" >
                <p:panel rendered="#{userController.user != null and !reservationController.reservationFinished and !reservationController.userBlockedFromReservation}">
                    <h:outputText value="Izaberite dan" />
                    <p:selectOneMenu value="#{reservationController.reservation.ticket.id}" >
                        <c:forEach items="#{reservationController.festival.tickets}" var="ticket">
                            <c:if test="#{ticket.day != 0}">
                                <f:selectItem itemValue="#{ticket.id}" itemLabel="#{ticket.day}" />
                            </c:if>
                        </c:forEach>
                        <f:selectItem itemValue="#{reservationController.allDaysFestivalTicket.id}" itemLabel="Za sve dane" />
                        <p:ajax event="change" listener="#{reservationController.loadAvailableTickets()}" update="ticketAmountMenu math" />
                    </p:selectOneMenu>
                    <h:outputText value="Izaberi broj karata" />
                    <p:selectOneMenu id="ticketAmountMenu" value="#{reservationController.ticketAmount}" rendered="#{userController.user.userType == 'USER'}" >
                        <f:selectItems var="numberOfTickets" value="#{reservationController.availableTickets}" itemValue="#{numberOfTickets}" itemLabel="#{numberOfTickets}" />
                        <p:ajax event="change" update="math" />
                    </p:selectOneMenu>
                    <p:inputText value="#{reservationController.ticketAmount}" rendered="#{userController.user.userType == 'ADMIN'}"  required="true" requiredMessage="Polje mora biti popunjeno pozitivnim brojem!">
                        <f:convertNumber type="number" integerOnly="true" />
                        <p:ajax event="keyup" update="math" />
                    </p:inputText>
                    <p:panel id="math">
                        <h:outputText value="#{reservationController.reservation.ticket.price}" >
                            <f:convertNumber type="number" maxFractionDigits="2" />
                        </h:outputText>
                        <h:outputText value=" X " />
                        <h:outputText value="#{reservationController.ticketAmount}" />
                        <h:outputText value=" = " />
                        <h:outputText value="#{reservationController.ticketAmount * reservationController.reservation.ticket.price}" >
                            <f:convertNumber type="number" maxFractionDigits="2" />
                        </h:outputText>
                        <p:messages id="msg" showDetail="true"  closable="true" />
                        <p:commandButton value="Rezervisi" action="#{reservationController.makeReserevation()}" update="finishReservationPanel reservationPanel msg" />
                    </p:panel>
                </p:panel>
            </p:outputPanel>
            <p:outputPanel id="finishReservationPanel">
                <p:panel  rendered="#{userController.user != null and reservationController.reservationFinished}">
                    <h:outputText value="Rezervacija uspesna! Klikni na povratak na festival" />
                    <p:button value="Nazad" outcome="festival"  >
                        <f:param name="id" value="#{reservationController.festivalId}" />
                    </p:button>
                </p:panel>
            </p:outputPanel>
            <p:outputPanel id="errorReservationPanel">
                <p:panel  rendered="#{userController.user != null and reservationController.userBlockedFromReservation}">
                    <h:outputText value="Niste kupili kartu na vreme, onemogućeno Vam je da kupite kartu!" />
                    <p:button value="Nazad" outcome="festival"  >
                        <f:param name="id" value="#{reservationController.festivalId}" />
                    </p:button>
                </p:panel>
            </p:outputPanel>
        </h:form>
    </h:body>
</html>
