<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Rezervacije</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            .row-style{
                background-color: greenyellow;
            }
        </style>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewParam name="cancel" value="#{reservationsViewController.cancelParam}"/>
            <f:viewAction action="#{reservationsViewController.setup()}" />
        </f:metadata>
        <h:form>
            <p:outputPanel rendered="#{userController.user != null}" >
                <p:dataTable id="table" var="reservation" value="#{reservationsViewController.reservations}" rowStyleClass="#{reservationsViewController.isFestivalFinished(reservation) and userController.user.userType == 'USER' and reservation.isPurchased ? 'row-style' : null}">
                    <p:column headerText="Festival" >
                        <p:link outcome="festival" value="#{reservation.festival.festivalName.name}">
                            <f:param name="id" value="#{reservation.festival.id}"/>
                        </p:link>
                    </p:column>
                    <p:column headerText="Datum od" >
                        <h:outputText value="#{reservation.festival.dateFrom}" >
                            <f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+1" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Datum do" >
                        <h:outputText value="#{reservation.festival.dateTo}" >
                            <f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+1" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Rezervisano" >
                        <h:outputText value="#{reservation.dateReserved}" >
                            <f:convertDateTime pattern="dd-MMM-yyyy HH:mm:ss" timeZone="GMT+1" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Tip karte" >
                        <h:outputText value="Dnevna - #{reservation.ticket.day}. dan" rendered="#{reservation.ticket.type == 'DAILY'}" />
                        <h:outputText value="Za sve dane" rendered="#{!(reservation.ticket.type == 'DAILY')}" />
                    </p:column>
                    <p:column headerText="Broj" >
                        <h:outputText value="#{reservation.numberOfTickets}" />
                    </p:column>
                    <p:column headerText="Cena" >
                        <h:outputText value="#{reservation.ticket.price * reservation.numberOfTickets}" >
                            <f:convertNumber type="number" maxFractionDigits="2" />
                        </h:outputText>
                        <h:outputText value=" (#{reservation.ticket.price})" >
                            <f:convertNumber type="number" maxFractionDigits="2" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Opcije" rendered="#{reservationsViewController.cancelParam or userController.user.userType == 'ADMIN'}">
                        <p:commandButton value="Otkazi" action="#{reservationsViewController.cancelReservation(reservation)}" rendered="#{userController.user.userType == 'USER' and reservationsViewController.cancelParam}" update="table"/>
                        <p:commandButton value="Odobri rezervaciju" action="#{reservationsViewController.approveReservation(reservation)}" update="table" rendered="#{userController.user.userType == 'ADMIN'}"/> 
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
            <p:outputPanel rendered="#{userController.user != null and userController.user.userType == 'ADMIN'}" >

            </p:outputPanel>
            <p:outputPanel rendered="#{userController.user == null}">
                404 - maybe next time.
            </p:outputPanel> 
        </h:form>
    </h:body>
</html>
