<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Pretraga festivala</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewParam name="fname" value="#{festivalSearchController.festivalName}" />
            <f:viewParam name="dateFrom" value="#{festivalSearchController.dateFrom}" >
                <f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+1" />
            </f:viewParam>
            <f:viewParam name="dateTo" value="#{festivalSearchController.dateTo}" >
                <f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+1" />
            </f:viewParam>
            <f:viewParam name="place" value="#{festivalSearchController.place}" />
            <f:viewParam name="performer" value="#{festivalSearchController.performer}" />
            <f:viewAction action="#{festivalSearchController.search}" />
        </f:metadata>
        <h:form>
            <p:panel style="width : 60%; margin: auto" >
                <br/>
                <br/>
                Pretraga:
                <br/>
                <br/>
                <h:panelGrid columns="5" >
                    <h:outputText value="Ime festivala" />
                    <h:outputText value="Datum početka festivala" />
                    <h:outputText value="Datum kraja festivala" />
                    <h:outputText value="Mesto festivala" />
                    <h:outputText value="Izvođač" />
                    <p:inputText value="#{festivalSearchController.festivalName}" />
                    <p:calendar value="#{festivalSearchController.dateFrom}" pattern="dd-MMM-yyyy" timeZone="GMT+1" />
                    <p:calendar value="#{festivalSearchController.dateTo}" pattern="dd-MMM-yyyy" timeZone="GMT+1" />
                    <p:inputText value="#{festivalSearchController.place}" />
                    <p:inputText value="#{festivalSearchController.performer}" />
                </h:panelGrid>
                <p:commandButton action="search?faces-redirect=true&amp;includeViewParams=true" value="Pretraži" />
                <br/>
                <br/>
                <p:dataTable id="searchList" var="festival" value="#{festivalSearchController.festivals}">
                    <p:column headerText="Ime festivala" >
                        <p:link outcome="festival" value="#{festival.festivalName.name}" rendered="#{userController.user != null}" >
                            <f:param name="id" value="#{festival.id}" />
                        </p:link>
                        <h:outputText value="#{festival.festivalName.name}" rendered="#{userController.user == null}" />
                    </p:column>
                    <p:column headerText="Datum od" >
                        <h:outputText value="#{festival.dateFrom}" >
                            <f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+1" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Datum do" >
                        <h:outputText value="#{festival.dateTo}" >
                            <f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+1" />
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </h:body>
</html>
