<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Upload festivala</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form enctype="multipart/form-data">
            <p:outputPanel rendered="#{userController.user != null &amp;&amp; userController.user.userType == 'ADMIN'}" >
                <p:fileUpload fileUploadListener="#{uploadFestivalController.handleFileUpload}" update="nextButton" />
                <p:outputPanel id="nextButton" >
                    <p:link value="Proveri izgled festivala" outcome="festival" rendered="#{uploadFestivalController.nextEnabled}" >
                        <f:param name="id" value="#{uploadFestivalController.festival.id}" />
                    </p:link>
                </p:outputPanel>
            </p:outputPanel>
        </h:form>
        <p:outputPanel rendered="#{userController.user == null}">
            404 - maybe next time.
        </p:outputPanel> 
    </h:body>
</html>
