<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <ui:composition template="/templates/template.xhtml">
            <ui:define name="content">


                <h:form>
                    <p:outputPanel rendered="#{userController.user != null &amp;&amp; userController.user.userType == 'USER'}" >
                        <p:panelGrid columns="2" >
                            <h:outputText value="Nesto"/>
                            <h:outputText value="Sto"/>
                            <h:outputText value="Vidi"/>
                            <h:outputText value="Ulogovan"/>
                            <p:commandButton value="Logout" action="#{loginController.logout()}" />
                            <p:button outcome="search" value="Pretrazi festivale" />
                        </p:panelGrid>
                        <p:dataTable var="festival" value="#{userViewController.nextFiveFestivals}" >
                            <p:column headerText="Ime festivala" >
                                <p:link outcome="festival" value="#{festival.festivalName.name}" rendered="#{userController.user != null}" >
                                    <f:param name="id" value="#{festival.id}" />
                                </p:link>
                                <h:outputText value="#{festival.festivalName.name}" rendered="#{userController.user == null}" />
                            </p:column>
                            <p:column headerText="Datum od" >
                                <h:outputText value="#{festival.dateFrom}" >
                                    <f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+1" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Datum do" >
                                <h:outputText value="#{festival.dateTo}" >
                                    <f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+1" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                        <p:link outcome="reservations" value="Završeni Događaji" >
                            <f:param name="cancel" value="false" />
                        </p:link>
                        <br/>
                        <p:link outcome="reservations" value="Otkaži rezervaciju" >
                            <f:param name="cancel" value="true" />
                        </p:link>
                    </p:outputPanel>
                    <p:outputPanel rendered="#{userController.user == null}" style="text-align: center">
                        404 - maybe next time.
                    </p:outputPanel>        
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
